.login-container {
    padding: 20px;
    .logo {
        width: 200px;
        height: 200px;
       
    }

  .login-form-container {
     .login-form {
        width: 80%;
        margin: 0 auto;
     }
    .submit-button-panel {
        margin-top: 20px;
        .submit-button {
            width: 100%;
        }
    }
  }}