.login-container {

    padding: 60px;
    margin: auto;

    align-items: center;
    .logo {
        width: 400px;
        height: 400px;
       
    }

  .login-form-container {
     .login-form {
        width: 80%;
        margin: 0 auto;
     }
    .submit-button-panel {
        margin-top: 20px;
        .submit-button {
            width: 100%;
        }
    }
  }}