.playerSearch {

    display: inline;

    .search {
        background-color: blue;
    }

    .playersTable {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .playersTable th,
    .playersTable td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
    }

    .playersTable th {
        background-color: #4CAF50;
        color: white;
    }

    .playersTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .playersTable tr:hover {
        background-color: #ddd;
    }

    .playersTable img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
    }

}